# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# AHK studio
/AHK-Studio Backup/
/source/AHK-Studio Backup/
/source/A9-Script.ahk
/source/A9-Script.exe

# IDEA
/.idea/

# Desktop.ini
**/desktop.ini
